$primary : #281666;
$primary-light : #3485ff;
$primary-dark : #0b5ed7;
$secondary : #FA4C53;
$secondary-light : #79838b;
$secondary-dark : #5C636A;
$success : #198754;
$success-dark : #157347;
$warning : #FFC107;
$warning-dark : #FFCA2C;
$danger : #DC3545;
$danger-dark : #BB2D3B;
$info : #0DCAF0;
$info-dark : #31D2F2;
$dark : #212529;
$dark-dark : #1c1f23;
$light : #F8F9FA;
$light-dark : #F9FAFB;
$white : #FFF;
$gray-light : #CCC;
$gray : #AAA;
$gray-dark : #777;
$color-text: #333333;
$color-background: #F7F6FF;
$color-disabled: #E9ECEF;

$border-radius: 0.25rem;
$border-color: #CED4DA;
$border-color-dark: $gray-dark;

$spacer: 1rem;

$font-family: 'Montserrat', sans-serif;
$line-height: 1.5;

$input-padding-x: .75rem;
$input-padding-y: .375rem;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$media-queries: ("sm": $breakpoint-sm, "md": $breakpoint-md, "lg": $breakpoint-lg, "xl": $breakpoint-xl, "xxl": $breakpoint-xxl);
